body{
    background-color: black;
    Font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: white;
}
#block{
    margin: 2% 1% 2% 2%;
    padding: 1% 10% 1% 15%;
    display: block;
    float: right;
}
.flexrow{
    display: flex;
}
.fbox{
    flex: 19.33%;
    padding: 5px;
}
.nadpis{
    Font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    float: right;
    text-align: center;
    font-size: 6.3em;
    font-weight: 200;
    padding-right: 35px;
    padding-left:  40px;
    margin-left: 0%;
    margin-right: 0%;
    
    animation: animace 3s linear;
     
}
   

@keyframes animace {
    0%   { color:black; opacity: 0; }
    100% {color:white; opacity: 100;}
  }
  @keyframes obr {
    0%   { opacity: 0; }
    100%  {opacity: 100;}
    
  }
.obrazek{
  margin-left: auto;
  margin-right: auto;
  animation: obr 3s linear;

  
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 1.5s;
  padding-top: 60px;
  color: black;
}

.sidenav a, .sideButt a {
  padding: 15px 8px 8px 12px;
  text-decoration: none;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-size: 2.8em;
  color: #6d6d6d;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover, .sideButt a:hover {
  color: #ffffff;
  transition: 0.4s;
}
.sidenav a:active{
    color: #ffffff;
}
.supSidenav{
    display: none;
    padding-left: 5em;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.4em;
  margin-left: 50px;
}
.mySidenavButt{
    font-size: 3.5em;
    cursor:pointer;
    padding: 15px 5px 10px 30px;
    

}


.heading {
    Font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    

}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.box .gallery-img {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    align-items: center;
}
.box .gallery-img img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 2px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.5s;
    animation: reveal 2s linear;
}
.box .gallery-img img:hover {
    filter: none;
    transform: translateY(-2px);
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* dont mind this part, im just trying something here */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox img {
    max-width: 90%;
    max-height: 80%;
}
